<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
     <!--cabeçalho ou inicio do meu site-->
     <header style="display: flex;">
        <!--foto de perfil-->
      <section>
    <img src="felca-1-.webp" alt="imagem de perfil" height="100px" width="100px">
      </section>
      <!--informações pessoais-->
      <section>
        <br> <br>
        &nbsp; &nbsp; &nbsp; Neidja | 18 anos | neidja.rayssa | 909066 | câncer
         </section>
    </header>
    <!--navegação da minha página-->
    <nav>
        <!--tag <a href="" referece ao link de navegação-->
            <hr>
      <a href="mySite.html">eu e eu mesmo</a>
      <a href="entretenimento.html">entretenimento</a>
      <a href="musicas.html">musicas</a>
      <hr>
    </nav>

    <!--seção de entretenimento-->
    <article>
        <h3>The Vampire Diaries</h3>
        <h4>curto: 5/5</h4>

        <img src="image-Elena-de-The-Vampire-Diaries-e-bem-diferente-nos-livros-mas-por-que.avif" alt="imagem dos personagens  principais da serie" height="200px" width="200px">
        
        <p>The Vampire Diaries conta a história de Elena Gilbert,
             uma jovem humana  que logo após <br> 
             perder os pais em um 
             acidente de carro, se apaixona pelo “garoto” novo que
              acabou <br>
               de chegar em seu colégio – um vampiro chamado
               Stefan Salvatore, que, na verdade, <br>
               possui centenas de anos.
            </p>
        <p>para conhecer mais <a href="https://aminoapps.com/c/the-vampire-diares-pt-br/page/blog/resumo-de-cada-temporada-de-tvd/MxQB_moCku7J3rz00WYa8rgz13oqL2Vl7k">clique aqui</a></p>
    </article>
    <hr>
    

    <article>
        <h3>The Originals</h3>
        <h4>curto: 4/5</h4>

        <img src="the originals.webp" alt="imagem dos personagens  principais da serie" height="200px" width="200px">
        
        <p>
            The Originals é uma série norte-americana, spin-off
             de The Vampire Diaries, e acompanha o personagem
              Klaus Mikaelson (interpretado por Joseph Morgan) 
              em seu retorno à cidade de Nova Orleans, que ele
               e sua família ajudaram a construir há centenas 
               de anos.
            </p>
            <p>para conhecer mais <a href="https://www.coxinhanerd.com.br/resumo-the-originals/">clique aqui</a></p>
      <hr>
    </article>


    <article>
        <h3>Trono de Vidro</h3>
        <h4>curto: 5/5 </h4>
        <img src="trono de vidro.webp" alt="capa do primeiro livro da coleção" height="200px" width="200px">
    <p>
        A magia há muito abandonou Adarlan.
         Um perverso rei governa de seu trono de vidro,
          punindo impiedosamente as minorias rebeldes, 
          quando uma assassina chega ao castelo. 
          Depois de cometer um erro e ser capturada, 
          ela se torna prisioneira nas minas de sal de Endovier, 
          onde a tortura prevalece e ninguém sobrevive.
    </p>
    <p>para conhecer mais <a href="https://tronodevidro.fandom.com/pt-br/wiki/Trono_de_Vidro#:~:text=Advertisement-,Sinopse,tortura%20prevalece%20e%20ningu%C3%A9m%20sobrevive.">clique aqui</a></p>
   <hr>
</article>


<article>
    <h3>Acotar</h3>
    <h4>curto: 5/5 </h4>
    <img src="acotar.jpg" alt="desenho dos personagens principais" height="200px" width="200px">
<p>
    O livro Corte de Espinhos e Rosas (Acotar) traz uma
     envolvente história fictícia entre duas espécies,
      humanos e seres místicos chamados feéricos.
       Há muitos anos na história, uma guerra entre
        ambas as espécies foi declarada e por fim, 
        os humanos conseguiram se libertar.
</p>
<p>para conhecer mais <a href="https://idris.com.br/blog/2018/10/17/resenha-a-corte-de-espinhos-e-rosas-sarah-j-maas/">clique aqui</a></p>
<hr>
</article>


<article>
    <h3>The 100</h3>
    <h4>curto: 5/5 </h4>
    <img src="The 100 01.png" alt="capa da serie" height="200px" width="200px">
<p>
    A série conta a história de 100 delinquentes juvenis
     que foram enviados para a Terra para ver se ela é 
     habitável, depois de 97 anos que um apocalipse nuclear
      destruiu a civilização humana. Ao chegarem na 
      superfície, eles se deparam com um ambiente hostil 
      e percebem que não estão sozinhos.
</p>
<p>para conhecer mais <a href="https://www.momentumsaga.com/2014/07/resenha-100-os-escolhidos-de-kass-morgan.html">clique aqui</a></p>
<hr>
</article>

<!--rodapé-->
<footer>
    by Neidja Rayssa &copy; 
</footer>

</body>
</html>