<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Melhores Músicas</title>
</head>
<body>
     <!--cabeçalho ou inicio do meu site-->
     <header style="display: flex;">
        <!--foto de perfil-->
     
        <section>
            <img src="Felca-Base.webp" alt="imagem de perfil" height="100px" width="100px">
              </section>

      <!--informações pessoais-->
      <section>
        <br> <br>
        &nbsp; &nbsp; &nbsp; Neidja | 18 anos | neidja.rayssa | neidjarayssa@outlook.com | câncer
         </section>
    </header>
    <!--navegação da minha página-->
    <nav>
        <!--tag <a href="" referece ao link de navegação-->
            <hr>
      <a href="mySite.html">eu e eu mesmo</a>
      <a href="entretenimento.html">entretenimento</a>
      <a href="musicas.html">musicas</a>
      <a href="contato.html">contato</a>
      <hr>
    </nav>

    <!--aqui começa minha lista-->
    <h1>Top 10 Melhores Músicas</h1>
    <main>
        <ol>
            <li>Jão - Julho</li>
            <li>Cazuza - Exagerado</li>
            <li>Seu Jorgec - Mina de Condomínio</li>
            <li>Hungria - Amor e fé</li>
            <li>Supercombo - Aminato</li>
            <li>Alceu Valença - Flor de Tangerina</li>
            <li>Jão - Meninos e Meninas</li>
            <li>Poesia Acustica </li>
            <li>Olivia Rodrigo - Favorite Crime</li>
            <li>Sadie Jean - Locksmith</li>
        </ol>
    </main>

    <!--rodapé-->
<hr>
<footer>
    by Neidja Rayssa &copy; 
</footer>

</body>
</html>
