<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--cabeçalho ou inicio do meu site-->
    <header style="display: flex;">
        <!--foto de perfil-->
      <section>
    <img src="Felca-Base.webp" alt="imagem de perfil" height="100px" width="100px">
      </section>
      <!--informações pessoais-->
      <section>
        <br> <br>
        &nbsp; &nbsp; &nbsp; Neidja | 18 anos | neidja.rayssa | neidjarayssa@outlook.com | câncer
         </section>
    </header>
    <!--navegação da minha página-->
    <nav>
        <!--tag <a href="" referece ao link de navegação-->
            <hr>
      <a href="mySite.html">eu e eu mesmo</a>
      <a href="entretenimento.html">entretenimento</a> 
      <a href="musicas.html">musicas</a>
      <a href="contato.html">contato</a>
      <hr>
    </nav>
<!--estrutura principal do site-->
<main>
    <h1>conheça um pouco do meu mundo</h1>
    <p>
        Rooi, me chamo Neidja Rayssa, tenho 18 anos, 
        já fui bailarina, baterista <br> e já fiz teatro
         que é uma de minhas paixões. Hoje não pratico
          mais nada <br> dessas coisas, mas tenho vontade
           de voltar. E eu gosto de : <br>
    </p>
    <!--lista de topicos sobre mim-->
    <ul>
        <li>ler
            <ul>
                <li>livros de procedencias duvidosas</li>
                <li>comedia romantica</li>
                <li>romances água com açucar</li>
                <li>fantasia</li>
            </ul>
        </li>
    
        <li>assistir
            <ul>
                <li>filmes de romace e terror</li>
                <li>series de fantasia e sobrenatural</li>
            </ul>
        </li>
        <li>sair para roles apocalípticos e:
            <ul>
            <li>dançar</li>
            <li>conhecer novas pessoas</li>
            <li>me divertir</li>
            </ul>
        </li>
        <li>dormir</li>
    </ul>
</main>
<!--rodapé-->
<hr>
<footer>
    by Neidja Rayssa &copy; 
</footer>
</body>
</html>